@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-orange: #FF5722;
  --theme-dark: #121212;
  --theme-gray: #1E1E1E;
}

body {
  color: white;
  background: var(--theme-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}